;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[cider/cider-nrepl "0.25.6"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :modules {:main {:entries [app.core]}}
        :compiler-options {:source-map true
                           :infer-externs :auto
                           :pretty-print true}}}}
